@media screen and (min-width: 800px) {
    .neon-text:hover {
        color: var(--crl--black);
        background-color: var(--crl--neonteal);
        box-shadow: 0 0 3.5em var(--crl--neonteal);
    }
    .neon-text.green:hover {
        background-color: var(--crl--neongreen);
        box-shadow: 0 0 3.5em var(--crl--neongreen);
    }
    .neon-text.neon-text.pink:hover {
        color: var(--crl--neonpink);
        background-color: transparent;
        box-shadow: 0 0 3.5em var(--crl--neonpink);
    }
    .imageContainer:not(.hero) {
        filter: grayscale(100%);
    }
    .card:hover .imageContainer {
        filter: none;
    }
    .links-contact {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
}
@media screen and (min-width: 1000px) {
    main,footer {
        margin: 0 auto;
        width: 1000px;
    }
    .welcome {
        height: 100vh;
        margin: 0;
    }
    .welcome, .aboutwrapper {
        display: flex;
        flex-direction: row;
    }
    .hero::before {
        top: 200px;
        left: 100px;
        right: 0;
        bottom: 0;
    }
    .top {
        flex-direction: row;
    }
    .icons {
        display: none;
    }
    .menu {
        flex-direction: row;
        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: end;
        animation: none;
        transform: translateX(0);
        margin: 0 auto;
    }
    
}
